.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../image/hero/Header\ img\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(58, 54, 63);
  color: $hero-text;
  text-align: center;
  & .button {
    background-color: $text-color;
  }
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
