.section {
  background-color: $hero-text;
  padding-top: 94px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.section-title {
  margin-top: 0;
}
.section .title {
  color: $primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.subtitle {
  color: $text-color;
  font-size: 16px;
  line-height: 1.19;
}

.feature_bottom {
  padding-bottom: 94px;
  border-bottom: 1px solid #ececec;
}
.features {
  display: flex;
  flex-wrap: wrap;
}
.features .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.features .item:nth-child(4n) {
  margin-right: 0;
}
.features .icon {
  padding-top: 25px;
  padding-left: 107px;
  padding-bottom: 25px;
  padding-right: 107px;
  background-color: $portfolio-ul-background;
}
.color {
  display: flex;
  width: 270px;
  height: 120px;

  border-radius: 4px;
  background-color: $portfolio-ul-background;
  justify-content: center;
  align-items: center;
}
.antenna {
  width: 65px;
  height: 70px;
}

.Clock {
  width: 67px;
  height: 70px;
}
.diagram {
  width: 70px;
  height: 54px;
}
.astronaut {
  width: 70px;
  height: 70px;
}

.features .title {
  margin-top: 30px;
  margin-bottom: 0;
}
.features p {
  margin-top: 10px;
  margin-bottom: 0;
  color: $text-color;
  font-size: 14px;
  line-height: 1.71;
}
