$primary-text-color: #212121;
$color-link: #2196f3;
$hero-text: #ffffff;
$text-color: #757575;
$text-autor: rgba(255, 255, 255, 0.4);
$text-footer: rgba(255, 255, 255, 0.6);
$footter-background-color: #2f303a;
$portfolio-ul-background: #f5f4fa;
$text-social: #afb1b8;
$socials-footer: rgba(255, 255, 255, 0.1);
$portfolio-filter-text: #f5f4fa;
$color-current: #2196f3;
$portfolio-content: #eeeeee;
$font-Roboto: Roboto, sans-serif;
$font-Raleway: Raleway, Arial, Helvetica, sans-serif;
